<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    img {
        max-width: 200px;
        max-height: 200px;
        width: auto;
        height: auto;
    }
    </style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <img src="https://puu.sh/EdYkA/50bbf6c93a.jpg">
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>My Hobbies are : <br>
        <ul>
            <li>{{ hobi1 }}</li>
            <li>{{ hobi2 }}</li>
            <li>{{ hobi3 }}</li>
        </ul>
    </article>
	<article>I am {{ description }}</article>
    <article>I study at {{ tempat_kuliah }}</article>
    <article>Starting from : {{ angkatan }}</article>
</body>
</html>
